/* 設定整體頁面背景 */
.container{
    background-color: #002b45;
    color: white;
    font-family: Arial, sans-serif; /* 適合 UI 的字體 */
    height: 100vh;
    max-width: 430px;
    width: 100%;
    padding: 0 50px !important;

}
body {
    background-color: #002b45; /* 深藍色背景 */
    color: white; /* 文字顏色 */
    font-family: Arial, sans-serif; /* 適合 UI 的字體 */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  /* 標題區塊 */
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
  }

  
  .logo {
    width: 50px;
    height: 50px;
    background-color: #ffcc33; /* 黃色 Logo 背景 */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    font-size: 30px;
    margin-right: 20px;
  }
  .mb-0{
    letter-spacing: 10px;
    text-decoration: none; /* 移除底線 */
    color: white; /* 繼承父元素的顏色 */
    background-color: #002b45;
  }

  a{
    text-decoration: none !important;
  }
  
  
  /* 表單輸入框 */
  .form-label {
    font-size: 14px;
    letter-spacing: 1px;
    width: 30%;
    margin-bottom: 0px !important;
  }
  
  .form-control,
  .form-select {
    background-color: white;
    color: black;
    border-radius: 5px;
    
  }
  
  /* 查詢按鈕 */
  .btn-yellow,
  .btn-yellow:focus,
  .btn-yellow:hover {
    background-color: #ffcc33 !important;
    color: black;
    font-size: 16px !important;
    font-weight: 500 !important;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    align-content: center !important;
  }
  
  .btn-yellow:hover {
    background-color: #e6b800; /* 深一點的黃色 */
  }

  
  /* 分隔線 */
  .divider {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 20px 0;
  }
  
  /* 其他按鈕 */
  .btn-light-yellow {
    background-color: #fff3c1 !important;
    color: black;
    font-size: 16px !important;
    font-weight: 500 !important;
    border-radius: 5px;
    border: none;
  }
  
  .btn-light-yellow:hover {
    background-color: #ffea9e;
  }
  
  /* 置中對齊的文字 */
  .text-center {
    text-align: center;
    font-size: 14px;
  }

  .search_list {
    font-size: 14px;
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .info{
    margin-bottom: 10px;
  }

  .btn_edit_n_save{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .editBtn {
    background-color: #fff3c1 !important;
    color: black;
    font-size: 16px !important;
    font-weight: 500 !important;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    
  }
  .saveBtn {
    color: white !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    border-radius: 5px;
    border: 2px solid #e6b800 !important;
    letter-spacing: 5px;
    margin-left: 5px;
    
  }
  
  .popup {
    color: gray;
    font-size: 12px;
    padding: 40px 0 10px 0;
    text-decoration: none;
    cursor: pointer;
    background-color:#002b45;
    border: #002b45;
    width: 100%;

  }

  .d-flex .align-items-center{
    margin-bottom: 10px;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
  }
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
  }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translateY(-50px);
  }
  .modal.show .modal-dialog {
    transform: none;
  }
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 10px;
    outline: 0;
    font-size: 20px;
  }
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ffffff;
    color: black;
  }
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    color: black;
  }
  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
  }

  .modal-header #closeModalBtn {
    border: none;
    background-color: white;}
    

  .modal-footer #closeModalBtn2 {
    border-radius: 27px;
    padding: 10px 15px;
    border: solid 2px #664d03;
    background-color: white;
  }


  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-backdrop.fade {
    opacity: 0;
  }
  .modal-backdrop.show {
    opacity: 0.5;
  }